.hero {
    width: 460px;
}

.navbar {
    padding-top: 2rem;
    text-align: center;
    background-image: url("../images/nav_background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.navwrapper {
    margin: auto;
    max-width: 1200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    font-size: 1.5rem;
    color: #1D2C5E;

    list-style: none;
}

.navlink {
    text-decoration: none;
    padding: .5rem 1rem;
}

.navlink:visited {
    color: inherit;
}

.navlink:hover {
    background-color: #1D2C5E;
    color: white;
    border-radius: 16px;
}

.navuser {
    font-size: 1rem;
    color: white;
    background-color: #1D2C5E;
    border-radius: 8px;
    padding: .5rem;
    font-weight: normal;
}

.navuser:hover {
    color: #1D2C5E;
    background-color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: inherit;
}