.searchcontainer {
    min-height: 60vh;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
    /* min-height: 60vh; */
}

.instructions {
    margin: auto;
}

.searchform {
    margin: auto;
    margin-top: 1rem;
    display: flex;
}

.searchinput {
    margin: auto;
    width: 80%;
}

.searchresults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.noresults {
    margin-top: 1rem;
}

